.page {
  background-color: var(--background-default);
}

.caloriesTitleGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
  margin-bottom: 28px;
}

.calculateWeekMessage {
  margin-top: 12px;
}

.content {
  padding: 20px 0;
}

.planInfoAnchor {
  display: flex;
  height: 14px;
  justify-content: center;
  visibility: hidden;
}

.planInfoMessage {
  text-align: center;
}

.editItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

.editItem:active {
  background-color: var(--background-gray-1);
}

.editItem:nth-child(6) {
  position: relative;
  margin-top: 48px;
}

.editItem:nth-child(6)::before {
  content: "";
  position: absolute;
  top: -24px;
  width: calc(100% - 32px);
  height: 1px;
  background: var(--border-default);
}

.birthYearItem {
  cursor: pointer;
  position: relative;
}

.birthYearSelect {
  appearance: none;
  cursor: pointer;
  height: 100%;
  inset: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.profileMeta {
  align-items: center;
  display: inline-flex;
  gap: 4px;
}

/* bottom sheet 영역 */
.sheetMain {
  padding: 0 16px 34px;
}

.sheetContent {
  flex: 1;
  min-height: 0;
}

.sheetActionButton {
  margin-top: 18px;
}

.editorTitle {
  font-size: 18px;
  font-weight: var(--fw-semibold);
  line-height: 1.4;
  letter-spacing: -0.025em;
  color: var(--text-primary);
  margin-bottom: 12px;
}

.genderGrid {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}

.selectedCard {
  padding: 10px 0;
}

.segmentCard {
  padding: 20px;
}

.segmentCard + .segmentCard {
  margin-top: 8px;
}

.segmentCard > p + p {
  margin-top: 4px;
}

.weightNumberFieldGroup {
  padding: 8px 0;
  width: 100%;
  display: grid;
  grid-template-columns: 28px 135px 28px;
  align-items: center;
  justify-content: center;
}

.weightAdjustButton {
  place-items: center;
  border-radius: 50%;
  display: grid;
  height: 28px;
  width: 28px;
}

.weightValueDisplay {
  width: 100%;
  text-align: center;
}

.weightNumberInput {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  text-align: end;
  width: 4ch;
}

.weightNumberInput::placeholder {
  color: var(--text-disabled);
}

.weightNumberInput:focus,
.weightNumberInput:focus-visible {
  box-shadow: none;
  outline: none;
}

/* 탄단지 비율 수정 페이지 */
.nutrientTitleGroup {
  margin-bottom: 28px;
}
.nutrientTitleGroup > h2 + p {
  margin-top: 4px;
}

.macroEditCardGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.macroCard {
  background-color: var(--background-default);
  border: 1px solid var(--border-default);
  border-radius: 16px;
  padding: 20px;
  width: 100%;
}

.macroInfo {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.macroAmount {
  margin-left: auto;
}
.macroAmount > span + span::before {
  content: "|";
  margin: 0 7px;
  color: var(--text-disabled);
}

.macroInputArea {
  background-color: var(--background-gray-1);
  border-radius: 20px;
  width: 100%;
  padding: 4px;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
}

.macroAdjustButton {
  place-items: center;
  border-radius: 50%;
  background-color: var(--background-default);
  box-shadow: var(--shadow-outer);
  display: grid;
  height: 32px;
  width: 32px;
  color: var(--text-primary);
}

.macroAdjustButton:active {
  background-color: var(--background-gray-1);
}

.macroAdjustButton:disabled {
  background-color: var(--background-gray-2);
  color: var(--text-disabled);
}

.macroInputSection {
  text-align: center;
  width: 100%;
}

.macroInput {
  background-color: transparent;
  border: none;
  text-align: end;
  padding: 0;
  width: 20%;
}

.macroInput:focus-within {
  outline: none;
}

.macroTotalCard {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 16px;
  background-color: var(--background-gray-1);
  width: 100%;
}
