.root {
  background-color: var(--gray-50);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-top: 12px;
  padding-bottom: 20px;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mealSummaryCard {
  background-color: var(--background-default);
  border-radius: 20px;
  box-shadow: var(--shadow-outer);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 16px;
}

.macroArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 12px 0;
  align-items: center;
  justify-items: center;
}

.macroName {
  text-align: center;
  width: fit-content;
  border-radius: 16px;
  padding: 6px 12px;
  background-color: var(--coral-100);
}

.caloriesArea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid var(--border-subtle);
}

.calorieItem {
  text-align: center;
  padding: 16px 0;
}

.calorieItem > p + p {
  margin-top: 2px;
}

.calorieItem + .calorieItem {
  border-left: 1px solid var(--border-subtle);
}

.burnedCalorieTitle {
  display: flex;
  align-items: center;
}

.burnedCalorieList {
  border-top: 1px solid var(--border-subtle);
  padding-top: 12px;
}

.burnedCalorieItem {
  align-items: center;
  display: flex;
  justify-items: space-between;
}

.infoPopover {
  margin-left: 2px;
  padding-top: 1px;
}

.burnedCalorieItem + .burnedCalorieItem {
  margin-top: 4px;
}

.bodyLogGroup {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.bodyLogButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 125px;
  justify-content: space-between;
}

.bodyLogTitle {
  align-items: center;
  display: flex;
  width: 100%;
}

.bodyLogValue {
  align-items: baseline;
  display: flex;
  gap: 2px;
}

.bodyLogValueWeight {
  font-weight: var(--fw-medium);
}

.bodyLogButton:active,
.mealRecordButton:active,
.workoutGroupButton:active {
  background-color: var(--background-gray-1);
  transform: scale(0.995);
}

.mealRecordGroup {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 10px;
}

.mealRecordGroup > li {
  grid-column: span 2;
}

.mealRecordGroup > li:nth-child(4) {
  grid-column: 2 / span 2;
}

.mealRecordGroup > li:nth-child(5) {
  grid-column: 4 / span 2;
}

.mealRecordTitle {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.mealRecordButton {
  border-radius: 12px;
  width: 100%;
  border: 1px solid var(--border-subtle);
  padding: 8px;
  background-color: var(--background-default);
}

.mealImageBox {
  aspect-ratio: 3/2;
  border-radius: 8px;
  color: var(--text-disabled);
  overflow: hidden;
  display: grid;
  place-items: center;
}

.mealImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.mealIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-gray-1);
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.mealIcon[data-recorded="true"] {
  color: var(--btn-default);
  background-color: var(--background-selected);
}

.mealInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.mealInfo > span {
  white-space: nowrap;
}

.workoutRecordTitle {
  display: flex;
  align-items: center;
}

.workoutRecordGroup {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.workoutRecordItem + .workoutRecordItem {
  border-top: 1px solid var(--border-subtle);
}

.workoutRecordItem {
  width: 100%;
  display: flex;
  gap: 12px;
  padding: 6px 0;
}

.workoutImageBox {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
  color: var(--text-tertiary);
}

.workoutImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workoutInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
