.page {
  background-color: var(--background-gray-1);
}

.content {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.menuNameGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.formClearActionArea {
  padding-top: 48px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-default);
}

.formClearActionArea + .formSection {
  margin-top: 20px;
}

.formSection {
  padding-bottom: 48px;
}

.clearIcon {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-left: auto;
}
