.weightRow {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.unitButton {
  background-color: var(--background-default);
  border: 1px solid var(--border-default);
  border-radius: 12px;
  color: var(--text-primary);
  padding: 8px 16px;
  width: 100%;
  text-align: center;

  &[data-checked] {
    border-color: var(--border-strong);
    background-color: var(--background-selected);
  }
}

.nutrientList {
  --sub-row-gap: 16px;

  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.fieldRow {
  display: grid;
  grid-template-columns: 1fr 166px;
  gap: 10px;
  align-items: center;
}

.fieldRowMain {
  padding: 4px 0;
}

.fieldRowSub {
  position: relative;
  padding-left: 20px;
}

.fieldRowSub::before {
  content: "";
  position: absolute;
  left: 4px;
  top: calc(-1 * var(--sub-row-gap));
  bottom: 0;
  border-left: 1px solid var(--border-default);
  pointer-events: none;
}

.fieldRowSub::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  width: 10px;
  border-top: 1px solid var(--border-default);
  pointer-events: none;
}

.fieldRowSub[data-last-sub="true"]::before {
  bottom: 50%;
}

.fieldRowSub + .fieldRowMain,
.fieldRowMain + .fieldRowMain {
  margin-top: 32px;
}
.fieldRowMain + .fieldRowSub,
.fieldRowSub + .fieldRowSub {
  margin-top: var(--sub-row-gap);
}

.fieldSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fieldSection + .fieldSection {
  margin-top: 20px;
}

.labelArea {
  align-items: center;
  display: flex;
  gap: 8px;

  > h2 > span {
    margin-left: 4px;
  }
}

.require {
  color: var(--coral-500);
}

.input {
  background-color: var(--background-default);
  border: 1px solid var(--border-default);
  border-radius: 12px;
  color: var(--text-primary);
  padding: 8px 16px;
  width: 100%;
  text-align: end;
}
