.page {
  background-color: var(--background-gray-1);
}

.header {
  background-color: var(--background-default);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
}

.fieldSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fieldSection + .fieldSection {
  margin-top: 20px;
}

.labelArea {
  align-items: center;
  display: flex;
  gap: 8px;
}

.require {
  color: var(--coral-500);
}

.textInput {
  background-color: var(--background-default);
  border: 1px solid var(--border-default);
  border-radius: 12px;
  color: var(--text-primary);
  padding: 8px 16px;
  width: 100%;
}

.textInput::placeholder {
  color: var(--text-tertiary);
}

.brandButton {
  background-color: var(--background-default);
  border: 1px solid var(--border-default);
  border-radius: 12px;
  color: var(--text-primary);
  padding: 8px 16px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 24px;
}

.fieldSection + .nutrientSection {
  border-top: 1px solid var(--border-default);
  margin-top: 40px;
  padding-top: 40px;
}

.footer {
  padding: 0 20px;
  padding-bottom: var(--safe-area-bottom);
}
