.inputBox {
  align-items: end;
  display: flex;
}

.input {
  border: var(--border-neutral) 1px solid;
  border-radius: 6px;
  flex: 1;
  outline: none;
  padding: 14px 12px;
  width: 100%;
}

.input::placeholder {
  color: var(--label-assistive);
}

.unit {
  color: var(--label-normal);
  flex-shrink: 0;
  margin-left: 12px;
  padding-bottom: 2px;
  white-space: nowrap;
}

.inputBox:has(input:not(:placeholder-shown)) .unit {
  color: var(--gray-1100);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
