.inputBox {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  background-color: var(--background-default);
  border: 1px solid var(--border-default);
  border-radius: 16px;
  padding: 12px 20px;
}

.inputBox:focus-within {
  outline: 1px solid var(--border-strong);
  offset: 0;
}

.inputBox input {
  border: none;
  outline: none;
  text-align: right;
  width: 100%;
  margin: 0;
  padding: 0;
}

input::placeholder {
  color: var(--text-disabled);
}

/* Chrome / Safari / Edge spinner 제거 */
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.unit {
  color: var(--text-disabled);
  flex-shrink: 0;
  white-space: nowrap;
  margin-left: 6px;
}

.inputBox:has(input:not(:placeholder-shown)) .unit {
  color: var(--text-primary);
}
