.group {
  align-items: center;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

.inputWrapper {
  display: flex;
  align-items: baseline;
  gap: 4px;
  justify-content: center;
}

.input {
  border: 0;
  box-sizing: border-box;
  font-size: var(--fs-body1);
  font-weight: var(--fw-semibold);
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-130);
  margin: 0;
  padding: 0;
  width: 4ch;
  text-align: end;
}

.input:focus,
.input:focus-visible {
  box-shadow: none;
  outline: none;
}

/* Chrome / Safari / Edge spinner 제거 */
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.input:focus,
.input:focus-visible {
  box-shadow: none;
  outline: none;
}

.decrement,
.increment {
  align-items: center;
  background: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0;
  outline: 0;
  padding: 0;
  user-select: none;
  color: var(--static-white);
  border-radius: 100px;
  @media (hover: hover) {
    &:hover {
      background-color: gray;
    }
  }
}

.unit {
  color: var(--common-1200);
  font-size: 20px;
}
