.inputBox {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.inputBox input {
  border: none;
  font-size: var(--fs-40);
  font-weight: var(--fw-medium);
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-120);
  outline: none;
  text-align: right;
  width: 100%;
}

input::placeholder {
  color: var(--label-assistive);
}

/* Chrome / Safari / Edge spinner 제거 */
.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.unit {
  color: var(--label-assistive);
  font-size: 40px;
  margin-left: 4px;
}

.inputBox:has(input:not(:placeholder-shown)) .unit {
  color: var(--label-normal);
}
