.cardContainer {
  background-color: var(--bg-white);
  border: 1px solid var(--border-neutral);
  border-radius: 8px;
  box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 5%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 16px;
  width: 100%;
}

.cardContainer[role="button"] {
  cursor: pointer;
  text-align: start;
}

.cardContainer[role="button"]:active {
  transform: scale(0.98);
}
