.pageColor {
  background-color: var(--background-default);
  background-image:
    radial-gradient(circle 100px at center, #ffdfd899 0%, #ffedd800 100%),
    radial-gradient(circle 100px at center, #ffedd899 0%, #ffedd800 100%),
    linear-gradient(180deg, var(--coral-300) -90px, var(--background-default) 100%),
    linear-gradient(180deg, var(--background-default) 0%, var(--background-gray-1) 90%);

  background-position:
    left -50% top 114px,
    right -50px top 56px,
    top center,
    bottom center;

  background-repeat: no-repeat;
  background-size:
    200px 200px,
    200px 200px,
    100% 356px,
    100% min(57%, calc(100% - 350px));
}
