.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100dvh;
  width: 100%;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--bg-normal);
  padding: 20px;
  gap: 20px;
}
