.actionCard {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  margin-left: auto;
}

.modalDescription {
  width: 100%;
}

.textContainer {
  padding-top: 10px;
  padding-bottom: 20px;
}
