.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  width: 100%;
}

.menuContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.menuCardContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.description {
  color: var(--label-alternative);
}

.iconContainer {
  width: 100%;
}

.iconSize {
  display: block;
  height: 60px;
  margin-left: auto;
  width: 60px;
}

.recordContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recordTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.mealCardList {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
}

.mealCard {
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
}

.mealInner {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: var(--bg-white);
  border: 1px solid var(--border-neutral);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.mealSelected .mealInner {
  background-color: var(--interaction-primary);
  border: 1px solid var(--border-primary);
}

.mealValue {
  color: var(--label-primary);
}

.mealIcon {
  height: 48px;
  object-fit: contain;
  width: 48px;
}

.mealLabel {
  color: var(--label-alternative);
  text-align: center;
}

.bgPrimary {
  background-color: var(--primary-normal);
  border-color: var(--border-primary);
}

.textWhite {
  color: var(--static-white);
}

.cameraActionSheetContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px calc(var(--safe-area-bottom) + 20px);
}

.cameraActionSheetTitle {
  color: var(--label-normal);
}

.cameraActionSheetButton {
  color: var(--label-alternative);
  padding: 12px;
  text-align: start;
  width: 100%;
}
