.content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-2);
  gap: 10px;
  padding: 24px 20px;
  border: none;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.scoreTextContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.scoreText {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.score {
  color: var(--label-primary);
}

.calorieText {
  color: var(--label-normal);
  align-items: center;
  display: flex;
  gap: 4px;
}

.dividerContainer {
  height: 24px;
  background-color: var(--static-white);
  width: 1px;
}

.badgeContentContainer {
  background-color: var(--bg-white);
  border-radius: 100px;
  color: var(--label-alternative);
  padding: 6px 16px;
  white-space: nowrap;
  width: fit-content;
}

.icon {
  margin-left: auto;
  color: var(--interaction-normal);
}
