.content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary-2);
  gap: 16px;
  padding: 24px 20px;
  border: none;
}

.scoreContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: var(--bg-white);
  border-radius: 8px;
  padding: 12px 24px;
  align-items: center;
}

.scoreText {
  align-items: center;
  display: flex;
  gap: 16px;
}

.score {
  color: var(--label-primary);
}

.caloriesContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calorieText {
  color: var(--label-normal);
  align-items: center;
  display: flex;
  gap: 4px;
}

.skeletonContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  margin-left: auto;
  color: var(--interaction-normal);
}

.textAssistive {
  color: var(--label-assistive);
}
