.root {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.nutritionBalanceCard {
  background-color: var(--background-default);
  border-radius: 20px;
  box-shadow: var(--shadow-outer);
  display: flex;
  min-height: 154px;
  overflow: hidden;
  width: 100%;
}

.summaryArea {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  padding: 20px 0 12px 20px;
}

.titleArea,
.skeletonTitleArea {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.message {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.score {
  margin-top: auto;
}

.character {
  align-self: center;
  flex: 0 0 154px;
  height: 154px;
  object-fit: contain;
  scale: 1.4;
  translate: 0 4px;
  width: 154px;
}

.skeletonCharacter {
  align-self: center;
  margin-right: 20px;
}

.nutritionSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.calorieGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.currentCalorie {
  font-weight: var(--fw-medium);
}

.calorieValue {
  align-items: center;
  display: flex;
  gap: 8px;
}

.macrosGroup {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}

.macrosItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.macroTitle {
  align-items: center;
  display: flex;
  gap: 2px;
}
