.page {
  background-color: var(--background-gray-1);
}

.header {
  background-color: var(--background-default);
}

.content {
  padding: 20px 16px;
}

.workoutTitleGroup {
  padding-bottom: 36px;
  border-bottom: 1px solid var(--border-default);
  margin-bottom: 20px;

  > p + p {
    margin-top: 6px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field + .field {
  margin-top: 40px;
}

.labelRow {
  align-items: center;
  display: flex;
}

.required {
  color: var(--coral-500);
  margin-left: 8px;
}

.timeInputGroup {
  padding: 0 20.5px;
}

.timeQuickActionButton {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  color: var(--text-primary);
  background-color: var(--background-default);
  border-radius: 50%;
  box-shadow: var(--shadow-outer);
}

.timeInput {
  background-color: transparent;
  font-weight: var(--fw-medium);
}

.intensitySection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.intensityCardItem {
  padding: 20px;

  > p + p {
    margin-top: 4px;
  }
}

.setSection {
  border-radius: 12px;
  overflow: hidden;
}

.setHeader,
.setRow {
  align-items: center;
  display: grid;
  gap: 16px;
  grid-template-columns: 54px minmax(0, 1fr) minmax(0, 1fr) 54px;
  padding: 8px 16px;
}

.setHeader[data-showWeightInput="false"],
.setRow[data-showWeightInput="false"] {
  grid-template-columns: 54px minmax(0, 1fr) 54px;
}

.setHeader {
  background-color: var(--gray-700);
  color: var(--background-default);
}

.setRow {
  transition: box-shadow 0.1s ease-in-out;
  background-color: var(--background-default);
}

.setRow + .setRow {
  border-top: 1px solid var(--border-default);
}

.setOrder {
  padding-left: 7px;
}

.deleteButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 4px;
  width: 100%;
  height: 100%;
  color: var(--text-secondary);
}

.deleteButton:disabled {
  color: var(--text-disabled);
}

.setNumberField {
  min-width: 0;
  width: 100%;
}

.setInputArea {
  display: grid;
  place-items: center;
  min-width: 0;
  width: 100%;
}

.setInput {
  min-width: 0;
  max-width: 84px;
  width: 100%;
  padding: 6px 0;
  text-align: center;
  border: 1px solid var(--border-default);
  border-radius: 8px;
  background-color: var(--background-gray-1);
}

.plusIcon {
  margin-right: 4px;
}

.popover {
  margin-left: 4px;
}

.readOnlyInputArea {
  border: 1px solid var(--border-default);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  text-align: end;
}

.editInputArea {
  background-color: var(--background-default);
  border: 1px solid var(--border-default);
  border-radius: 12px;
  padding: 16px;
  width: 100%;
  text-align: end;
}

.editInputArea:focus-within {
  outline: 1px solid var(--border-strong);
  outline-offset: 0;
}

.editInput {
  width: calc(100% - 32px);
  text-align: end;
  border: none;
  padding: 0 4px;
}

.editInput:focus,
.editInput:focus-visible {
  outline: none;
  box-shadow: none;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}
