.root {
  display: flex;
  flex-direction: column;
  user-select: none;
  width: 100%;

  &[data-safe-area-top="true"] {
    padding-top: var(--safe-area-top);
  }

  &[data-view="month"][data-month-background="true"] {
    background: linear-gradient(180deg, var(--coral-300) -90px, var(--background-selected) 90%);
    border-radius: 0 0 20px 20px;
    isolation: isolate;
    overflow: hidden;
    position: relative;

    &::before,
    &::after {
      border-radius: 50%;
      content: "";
      height: 200px;
      pointer-events: none;
      position: absolute;
      width: 200px;
      z-index: 0;
    }

    &::before {
      background: radial-gradient(circle 100px at center, #ffdfd8 0%, #ffdfd800 100%);
      left: -105px;
      opacity: 0.6;
      top: 104px;
    }

    &::after {
      background: radial-gradient(circle 100px at center, #ffedd8 0%, #ffedd800 100%);
      opacity: 0.4;
      right: -71px;
      top: 56px;
    }

    & > * {
      position: relative;
      z-index: 1;
    }
  }
}
