.root {
  background-color: var(--background-default);
  width: 100%;
}

.safeAreaTop {
  padding-top: var(--safe-area-top);
}

.navBar {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-columns: 24px minmax(0, 1fr);
  padding: 7px 20px;
}

.backButton {
  align-items: center;
  color: var(--text-primary);
  display: inline-flex;
  justify-content: flex-start;
}

.backButton:disabled {
  opacity: 0;
  pointer-events: none;
}

.fieldWrap {
  position: relative;
  width: 100%;
}

.input {
  background-color: var(--background-gray-1);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  color: var(--text-primary);
  width: 100%;
  padding: 10px 14px;
}

.clearPadding {
  padding-right: 52px;
}

.input::placeholder {
  color: var(--text-tertiary);
}

.input::-webkit-search-cancel-button,
.input::-webkit-search-decoration {
  appearance: none;
  -webkit-appearance: none;
}

.clearButton {
  align-items: center;
  color: var(--gray-400);
  display: inline-flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  width: 52px;
}
