.root {
  background-color: var(--bg-white);
  width: 100%;
}

.safeAreaTop {
  padding-top: var(--safe-area-top);
}

.navBar {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 7px 20px;
}

.backButton {
  align-items: center;
  color: var(--label-normal);
  display: inline-flex;
  justify-content: flex-start;
}

.backButton:disabled {
  opacity: 0;
  pointer-events: none;
}

.fieldWrap {
  position: relative;
  width: 100%;
}

.input {
  background-color: var(--bg-normal);
  border: 1px solid var(--border-neutral);
  border-radius: 8px;
  color: var(--label-normal);
  width: 100%;
  padding: 10px 14px;
}

.clearPadding {
  padding-right: 52px;
}

.input::placeholder {
  color: var(--label-assistive);
}

.input::-webkit-search-cancel-button,
.input::-webkit-search-decoration {
  appearance: none;
  -webkit-appearance: none;
}

.clearButton {
  align-items: center;
  color: var(--gray-400);
  display: inline-flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  width: 52px;
}
