.badge {
  align-items: center;
  display: inline-flex;
  flex-shrink: 0;
  white-space: nowrap;
  width: fit-content;
}

.personal {
  color: var(--text-disabled);
}

.personal[data-active="true"] {
  background-color: var(--background-default);
}
