.page {
  background-color: var(--background-gray-1);
}

.searchSection {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.resultList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.brandItem {
  background-color: var(--background-default);
  border: 1px solid var(--border-subtle);
  border-radius: 16px;
  padding: 16px;
  width: 100%;
}

.emptyResult {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.addButton {
  width: 100%;
}

.addButton:active {
  background-color: var(--background-gray-2);
}

.placeholderArea {
  display: grid;
  place-items: center;
  gap: 8px;
}

.brandAddSection {
  padding-bottom: 40px;
  text-align: center;
}
