.page {
  background-color: var(--background-default);
}

.content {
  padding-top: 20px;
  border-top: 1px solid var(--border-subtle);
}

.menuItem {
  align-items: center;
  display: flex;
  padding: 16px;
  width: 100%;
}

.menuItem:active {
  background-color: var(--background-gray-1);
}

.feedbackTitle {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--coral-500);
}
