.content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px;
}

.rankBadge {
  align-items: center;
  align-self: flex-start;
  background-color: var(--coral-600);
  border-radius: 6px;
  color: var(--background-default);
  display: inline-flex;
  padding: 3px 7px;
}

.header {
  display: flex;
  gap: 6px;
}

.title {
  min-width: 0;
}

.iconButton {
  align-items: center;
  border-radius: 6px;
  display: inline-flex;
  flex-shrink: 0;
  height: 24px;
  justify-content: center;
  width: 24px;
  margin-left: auto;
  color: var(--text-tertiary);
}

.description {
  flex: 1;
}

.selected {
  color: var(--btn-default);
}

.meta {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
  justify-content: space-between;
  min-width: 0;
}

.metaOnlyCalories {
  justify-content: flex-end;
}

.menuInfoGroup {
  align-items: center;
  display: flex;
  gap: 6px;
  flex: 1;
}
