.content {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-bottom: 20px;
}

.title {
  height: fit-content;
  padding: 16px 0;
}

.titleHeading {
  color: var(--text-primary);
}

.field {
  padding: 0;
}

.input {
  border: 1px solid var(--border-subtie);
  background-color: var(--background-default);
  border-radius: 8px;
  padding: 16px 20px;
  text-align: right;
  width: 100%;
}
