.page {
  background-color: var(--background-gray-1);
}

.content {
  border-top: 1px solid var(--border-subtle);
  padding-top: 20px;
  /* padding-bottom: calc(var(--safe-area-bottom) + 60px); */
}

.summaryCard {
  background-color: var(--background-default);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  margin-bottom: 40px;
}

.calorieRow {
  display: flex;
  gap: 6px;
  align-items: baseline;
}

.mealTypeButtonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.mealTypeButton {
  background-color: var(--background-default);
  border: 1px solid var(--border-subtle);
  border-radius: 16px;
  color: var(--text-primary);
  padding: 6px 12px;
}

.mealTypeButton[data-selected="true"] {
  background-color: var(--coral-300);
  border-color: var(--coral-300);
}

.menuSection {
  padding-top: 12px;
  padding-bottom: 20px;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuCardSkeleton {
  background-color: var(--background-default);
  border: 1px solid var(--border-subtle);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 16px 20px;
  width: 100%;
}

.menuCardSkeletonHeader,
.menuCardSkeletonMeta {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.imgContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 12px;
}

.foodImage {
  aspect-ratio: 1/1;
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
}

.photoDeleteButton {
  background-color: var(--dimmer-default);
  color: var(--background-default);
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 28px;
  height: 28px;
}

.emptyState {
  padding: 40px 0;
  text-align: center;
  width: 100%;
  display: grid;
  place-items: center;
}

.emptyState:active {
  border-radius: 16px;
  background-color: var(--background-gray-2);
}

.didNotEatState {
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-height: 335px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.didNotEatImage {
  height: 120px;
  width: 120px;
}

.foodAddButton {
  position: absolute;
  bottom: var(--safe-area-bottom);
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--btn-default);
  width: 60px;
  height: 60px;
  color: var(--background-default);
  right: 16px;
}

.timeEditButton {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: transparent;
  border: 1px solid var(--border-default);
  border-radius: 16px;
}

.timeSheetBody:global(.seed-bottom-sheet__body) {
  overflow: hidden;
}

.timeSheetContent {
  padding: 0 18px;
}

.timePickerItem {
  color: var(--text-tertiary);
}

.timePickerItemSelected {
  color: var(--text-primary);
}

.timePickerHighlight {
  background: var(--background-gray-1);
  border-radius: 16px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
