.nutritionList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.listItem {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.listItem + .macroGroup {
  border-top: 1px solid var(--border-subtle);
  padding-top: 12px;
}

.amount {
  align-items: center;
  display: inline-flex;
  gap: 4px;
  position: relative;
}

.macroGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.macroGroup + .macroGroup {
  margin-top: 24px;
}

.subLabel {
  padding-left: 12px;
}
