.root {
  background-color: var(--background-default);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: relative;
}

.monthlySection {
  border-top: 1px solid var(--border-subtle);
  border-bottom: 2px solid var(--border-subtle);
  padding-bottom: 20px;
}

.monthlyCaption {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.monthlyCaption > p {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  border-radius: 100px;
}

.dot[data-variant="outlined"] {
  border: 1px dashed var(--border-strong);
}

.dot[data-variant="filled"] {
  background-color: var(--coral-500);
}
